/*
 Author: Kelly Kuhn
 Date: April 25, 2022
 Project: Getting inFormed
*/


/* style for the body of the HTML code */
body{
	font-family:		"Verdana", Arial, sans-serif;
	background: 		#fefbd8;
	margin:				20px;
}

/* code for both h1 and h2 that is the same */
h1, h2 {
	text-align:		center;
	color:			#618685;
	font-weight:	bold;
}

/* h1 font size set */
h1{
	font-size:		30px;
}

/* h2 font size set */
h2{
	font-size:		20px;
}

/* settings for the entire form */
form{
	display:			table;
	padding:			10px;
	border:				thin dotted #7e7e7e;
	background-color:	#80ced6;
}

/* textarea properties */
form textarea {
	width:		500px;
	height:		200px;
}

/* setup for a two table column */
div.tableRow {
	display:	table-row;
}

/* the <p> elements nested in the table row will get the following settings */
div.tableRow p {
	display:		table-cell;
	vertical-align:	top;
	padding:		3px;
}

/* first-child pseudo-element in <p> elements that are nested in the table row will get the following alignment */
div.tableRow p:first-child {
	text-align:	right;
}

/* settings for any <p> element with the class heading will be bold */
p.heading {
	font-weight: bold;
}

/* settings for fieldset */
fieldset {
display:		block;
margin-left:	3px;
margin-right:	3px;
padding-top:	0.35em;
padding-bottom:	0.625em;
padding-left:	0.75em;
padding-right:	0.75em;
border:			2px groove;
}
