body {
	background-color: Silver;
	font-family: "Arial", Courier New, sans-serif;
	font-size: 13px;
	color: Navy;
	font-weight: normal;
}

h1, h2, h3{
	border-bottom: thin dotted #888888;
	font-weight: bold;
}

h1{
	font-family: "Comic Sans", Impact, sans-serif;
	font-size: 26px;
	text-decoration: underline;
	color: Green;

	
}

h2{
	font-family: "Impact", Comic Sans, sans-serif;
	font-size: 17px;
	color: Teal;

}	

h3{
	font-family: "Impact", Comic Sans, sans-serif;
	font-size: 15px;
	color: Teal;
}